/* Reset*/
html {
  font-size: 16px;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: 'Open Sans', "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  color: #000;
}

html,
body {
  margin: 0;
}

::-moz-selection {
  color: gold;
  background: red;
  text-shadow: 0 0 3px #fff;
}

::selection {
  background-color: #e8175d;
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff;
}

a {
  color: #000;
  transition-duration: .3s;
}

a:hover {
  color: #000;
}

a:focus {
  box-shadow: none;
  outline: none;
  color: #000;
  text-decoration: underline;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5 ,h6 { margin: 0; }
h1 { font-size: 1.4rem; line-height: 2rem; }
h2 { font-size: 1.2rem; line-height: 2rem; }
h3 { font-size: 1rem; line-height: 1.5rem; }
h4 { font-size: 1rem; line-height: 1rem; }
h5 { font-size: 1rem; line-height: 1rem; }

/* Override */
.container {
  max-width: 960px;
}

/* Layout */
header.site {
  margin-bottom: 3rem;
  padding: 1rem 0;
  text-align: center;
}

header.site .title a {
  display: inline-block;
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
  text-decoration: none;
  line-height: 4rem;
  padding: 0 1rem;
}

div.site {
  max-width: 650px;
  margin: 0 auto;
}

footer.site {
  padding: 1rem 0;
  margin-top: 3rem;
}

footer.site p {
  margin-bottom: .5rem;
  font-size: .8rem;
  line-height: 1rem;
  color: #999;
}

nav.paging {
  position: relative;
  min-height: 5rem;
  margin-top: 2rem;
}

nav.paging .left,
nav.paging .right {
  color: #fff;
}

nav.paging .right {
  position: absolute;
  right: 0;
  top: 0;
}

nav.paging a {
  display: inline-block;
  text-align: center;
  width: 3rem;
  line-height: 3rem;
  font-size: 1.2rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 100%;
}

/* Parts */
article:first-child {
  padding-top: 0;
}

article header {
  margin-bottom: 1.5rem;
}

article .image {
  background-position: center;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: 0 0 3px #333 inset;
}

article .detail {
  display: table-cell;
  vertical-align: middle;
  padding-left: 1rem;
  height: 100px;
}

@media (max-width: 768px) {
  article .image {
    width: 70px;
    height: 70px;
  }

  article .detail {
    height: 70px;
  }
}

article time {
  color: #999;
  font-size: .8rem;
  line-height: 1rem;
}

article .title {
  word-break: break-all;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 900;
  max-height: 3rem;
  overflow: hidden;
  transition-duration: .3s;
}

article.li a:hover .title {
  color: #e8175d;
}

article.li {
  border-bottom: 1px dashed #ddd;
}

article.li a {
  display: block;
  text-decoration: none;
  padding: 1.5rem 0;
}

article.li .summary {
  word-break: break-all;
  line-height: 1.5rem;
}

article.single header {
  margin-bottom: .5rem;
}

article.single .share {
  text-align: center;
  margin-bottom: 4rem;
}

article.single .share a {
  display: inline-block;
  width: 2rem;
  line-height: 2rem;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 0 .5rem;
}

article.single .share a:hover {
  color: #e8175d;
}

article.single .article-body {
  margin-bottom: 1.5rem;
}

article.single .article-body h1,
article.single .article-body h2,
article.single .article-body h3,
article.single .article-body h4,
article.single .article-body h5,
article.single .article-body h6 {
  word-break: break-all;
  font-weight: 900;
}

article.single .article-body h1:first-child,
article.single .article-body h2:first-child,
article.single .article-body h3:first-child,
article.single .article-body h4:first-child,
article.single .article-body h5:first-child,
article.single .article-body h6:first-child {
  margin-top: 0;
}

article.single .article-body h1 {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

article.single .article-body h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

article.single .article-body h3,
article.single .article-body h4,
article.single .article-body h5,
article.single .article-body h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

article.single .article-body h3 {
  box-shadow: 3px 0 0 #000 inset;
  padding-left: 1rem;
}

article.single .article-body h4 {
  text-decoration: underline;
}

article.single .article-body a {
  text-decoration: underline;
}

article.single .article-body a:hover {
  color: #e8175d;
}

article.single .article-body img {
  display: block;
  max-width: 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 0 auto;
}

article.single .article-body p {
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  word-break: break-word;
}

article.single .article-body ul,
article.single .article-body ol {
  padding-left: 1.5rem;
}

article.single .article-body blockquote {
  padding: .5rem;
  border-left: none;
  background-color: #eee;
  font-size: .8rem;
}

article.single .article-body blockquote p {
  line-height: 1rem;
}

article.single .article-body blockquote p:last-child {
  margin-bottom: 0;
}

article.single .article-body pre {
  padding: 0;
  border: none;
  border-radius: 0;
}

article.single .article-body pre code {
  font-size: .8rem;
  line-height: 1rem;
  padding: 1rem;
}

article.single .article-body code:not(.hljs) {
  color: #e8175d;
  border-radius: 0;
  background-color: transparent;
}

article.single .article-body code.hljs {
  font-size: .8rem;
  line-height: 1rem;
}

article.single aside .section {
  margin-bottom: 2rem;
}

article.single .tag {
  display: inline-block;
  font-size: .8rem;
  background-color: #363636;
  color: #fff;
  line-height: 2rem;
  padding: 0 .5rem;
  margin-right: .5rem;
  margin-bottom: .5rem;
}

article.single .tag:hover {
  background-color: #e8175d;
}

.toc {
  margin-bottom: 1rem;
}

#TableOfContents {
  display: inline-block;
  font-size: .8rem;
  line-height: 2rem;
  background-color: #f5f5f5;
  padding: .5rem 1rem;
  padding-right: 1.5rem;
}

#TableOfContents code:not(.hljs) {
  font-size: .8rem;
}

#TableOfContents ul {
  margin-bottom: 0;
}

#TableOfContents a {
  display: block;
}

#TableOfContents ul ul a {
  text-decoration: none;
}

#TableOfContents>ul {
  padding-left: 0;
  list-style: none;
}

#TableOfContents>ul>li {
  font-weight: 900;
  margin-bottom: 1rem;
}

#TableOfContents>ul>li:last-child {
  margin-bottom: 0;
}

#TableOfContents>ul>li>ul>li>a:before {
  content: '\f0da';
  font-family: Fontawesome;
  margin-right: 5px;
}

#TableOfContents>ul ul {
  padding-left: 0;
  font-weight: normal;
  list-style: none;
}

#TableOfContents>ul ul ul {
  padding-left: 1.5rem;
  list-style: none;
}
