html {
  font-size: inherit;
}

body {
  font-family: 'Open Sans', "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  color: #000;
}

html,
body {
  margin: 0;
}

a {
  transition-duration: .2s;
  color: #000;
  text-decoration: underline;
}

a:hover,
a:focus,
a:active {
  color: #000;
  outline: none;
  box-shadow: none;
}

a.tag {
  display: inline-block;
  font-size: .8rem;
  color: #999;
  padding: 2px 7px;
  border: 1px solid #eee;
  border-bottom: 2px solid #eee;
  margin-right: 5px;
  border-radius: 50px;
  text-decoration: none;
  margin-bottom: 5px;
}

a.tag:hover {
  color: #333;
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5 ,h6 { margin: 0; }
h1 { font-size: 1.6rem; line-height: 2.4rem; }
h2 { font-size: 1.4rem; line-height: 2.1rem; }
h3 { font-size: 1.1rem; line-height: 1.7rem; }
h4 { font-size: 1rem; line-height: 1.5rem; }
h5 { font-size: 1rem; line-height: 1.5rem; }

header.site {
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 2rem;
  border-bottom: 1px solid #eee;
}

header.site .title a {
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  text-decoration: none;
}

div.site {
  max-width: 700px;
  margin: 0 auto;
}

div.list header.title {
  margin-bottom: 1rem;
}

footer.site {
  font-size: .8rem;
  padding: 3rem 0;
  border-top: 1px solid #eee;
  margin-top: 2rem;
}

footer.site p {
  margin-bottom: .5rem;
  color: #999;
}

nav.paging {
  position: relative;
  min-height: 5rem;
}

nav.paging .left,
nav.paging .right {
  text-align: center;
  position: absolute;
  display: inline-block;
  border: 1px solid #eee;
  border-bottom: 2px solid #eee;
  padding-top: 8px;
  color: #999;
  width: 35px;
  height: 35px;
  border-radius: 100%;
}

nav.paging .right {
  right: 0;
}

article.li {
  margin-bottom: 2rem;
}

article.li .image {
  background-color: #eee;
  background-position: center;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

article.li .detail {
  display: table-cell;
  vertical-align: middle;
  padding-left: 1rem;
  height: 100px;
}

@media (max-width: 768px) {
  article.li .image {
    width: 50px;
    height: 50px;
  }

  article.li .detail {
    height: 50px;
  }
}

article.li a {
  display: block;
  text-decoration: none;
}

article.li time {
  color: #999;
  font-size: .8rem;
}

article.li .title {
  word-break: break-all
}

article.li .summary {
  color: #555;
  max-height: 3rem;
  overflow: hidden;
  word-break: break-all
}

article.single {
  margin-bottom: 2rem;
}

article.single header {
  margin-bottom: 2rem;
}

article.single .image {
  background-color: #eee;
  background-position: center;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

article.single .detail {
  display: table-cell;
  vertical-align: middle;
  padding-left: 1rem;
  height: 100px;
}

@media (max-width: 768px) {
  article.single .image {
    width: 50px;
    height: 50px;
  }

  article.single .detail {
    height: 50px;
  }
}

article.single time {
  color: #999;
  font-size: .8rem;
}

article.single .share {
  margin-top: 1rem;
  text-align: center;
}

article.single .share a {
  text-align: center;
  padding-top: 10px;
  display: inline-block;
  border: 1px solid #eee;
  border-bottom: 2px solid #eee;
  color: #999;
  width: 35px;
  height: 35px;
  border-radius: 100%;
}

article.single .share a:hover {
  color: #333;
}

article.single .article-body {
  margin-bottom: 4rem;
}

article.single .article-body h1:first-child,
article.single .article-body h2:first-child,
article.single .article-body h3:first-child,
article.single .article-body h4:first-child,
article.single .article-body h5:first-child,
article.single .article-body h6:first-child {
  margin-top: 0;
}

article.single .article-body h1 {
  margin-top: 3.5rem;
  margin-bottom: 1rem;
  font-weight: 900;
}

article.single .article-body h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

article.single .article-body h3,
article.single .article-body h4,
article.single .article-body h5,
article.single .article-body h6 {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
}

article.single .article-body h3 {
  font-weight: 900;
}

article.single .article-body h4:before {
  content: '\f0c8';
  font-family: 'Fontawesome';
  margin-right: 5px;
}

article.single .article-body p {
  line-height: 1.5rem;
  margin-bottom: 1rem;
  word-break: break-all;
}

article.single .article-body pre {
  padding: 0;
  border: none;
  border-radius: 2px;
}

article.single .article-body code:not(.hljs) {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  color: #000;
  font-size: .8rem;
}

article.single aside {
  margin-bottom: 4rem;
}

article.single aside .section {
  margin-bottom: 2rem;
}
