<article class="post">
    <div class="eyecatch">
        {{ if isset .Params "eyecatch" }}
        <a href="{{ .Permalink }}"><img src="{{ .Site.BaseUrl }}/images/{{ .Params.eyecatch }}" alt="{{ .Title }}"></a>
        {{ else }}
        <a href="{{ .Permalink }}"><img src="{{ .Site.BaseUrl }}/images/nopicture.png" alt="no_picture"></a>
        {{ end }}
    </div>
    <div class="data">
        <span class="post-date">{{ .Date.Format .Site.Params.DateForm }}</span>
        <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        <div class="summary">{{ .Summary }}</div>
    </div>
    <footer class="readon">
        <a href="{{ .Permalink }}">
            <i class="fa fa-chevron-down"></i>
        </a>
    </footer>
</article>
<hr>
