{{ define "title" }}{{ .Title }} - {{ end }}

{{ define "main" }}
<div class="l-container">
  <header class="p-page-title">
    <div class="content-inner">
      <h1 class="title">{{ .Title }}</h1>
    </div>
  </header>

  <ul class="p-terms">
    {{ $data := .Data }}
    {{ range $key, $value := .Data.Terms }}
    <li>
      <h2 class="terms-title">
        <div class="content-inner thin">
          <a href="{{ $.Site.BaseURL }}{{ $data.Plural }}/{{ $key | urlize }}">{{ $key }}</a> ({{ len $value }})
        </div>
      </h2>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}

