<meta charset="utf-8">

<!-- Enable responsiveness on mobile devices-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<meta property="og:url" content="{{ .Site.BaseUrl }}">
{{ if eq .Url "/" }}
<!-- Index -->
<meta property="og:type" content="website">
{{ range first 1 .Data.Pages }}
<meta property="og:title" content="{{ .Site.Title }}">
{{ if isset .Params "eyecatch" }}
<meta property="og:image" content="{{ .Site.BaseUrl }}/images/{{ .Params.eyecatch }}">
{{ end }}
{{ end }}
{{ else if eq .Url "/post/" }}
<!-- Post -->
<meta property="og:title" content="All Entries &middot; {{ .Site.Title }}">
{{ else if in .Url "/tags/" }}
<!-- Category -->
<meta property="og:title" content="{{ .Site.Title }}">
{{ else }}
<!-- Article -->
<meta property="og:type" content="article">
<meta property="og:title" content="{{ .Params.titleja }} &middot; {{ .Site.Title }}">
{{ if isset .Params "eyecatch" }}
<meta property="og:image" content="{{ .Site.BaseUrl }}/images/{{ .Params.eyecatch }}">
{{ end }}
{{ end }}
<meta property="og:site_name" content="{{ .Site.Title }}">

<title>
    {{ if eq .Url "/" }}
    {{ .Site.Title }}
    {{ else if eq .Url "/post/" }}
    All Entries &middot; {{ .Site.Title }}
    {{ else if in .Url "/tags/" }}
    {{ .Site.Title }}
    {{ else }}
    {{ .Params.titleja }} &middot; {{ .Site.Title }}
    {{ end }}
</title>

<!-- CSS -->
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|PT+Sans:400">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//yandex.st/highlightjs/8.0/styles/solarized_dark.min.css">
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/custom.css">

<!-- Icons -->
<link rel="shortcut icon" href="/assets/favicon.ico">

<!-- RSS -->
<link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
